{% block file_upload_widget %}
    {{ form_widget(form) }}
    {% if value %}
        <a href="{{ value|file_upload_webpath }}" class="text-success" target="_blank">
            <i class="bi bi-file-earmark-arrow-down-fill"></i>
            {{ value.name }}
        </a>
    {% endif %}
{% endblock %}

{% block image_file_upload_widget %}
    <div class="d-flex align-items-center">
        {% if value and form.file.vars.errors is empty %}
            <div class="flex-shrink-1">
                <a href="{{ value|file_upload_webpath }}" class="float-start" target="_blank">
                    <img src="{{ value|file_upload_webpath }}" alt="{{ value.name }}" height="42" />
                </a>
            </div>
        {% endif %}
        <div id="{{ id }}" class="ms-2">
            {{ form_widget(form.file) }}
            {{ form_help(form.file) }}
            {{ form_errors(form.file) }}
        </div>
    </div>
{% endblock %}
